class SshXTerm < Formula
  desc "TUI to handle multiple SSH connections simultaneously"
  homepage "https://github.com/eugeniofciuvasile/ssh-x-term"
  version "VERSION_PLACEHOLDER"
  license "MIT"

  on_macos do
    if Hardware::CPU.arm?
      url "https://github.com/eugeniofciuvasile/ssh-x-term/releases/download/TAG_PLACEHOLDER/ssh-x-term-darwin-arm64"
      sha256 "DARWIN_ARM64_SHA"
    else
      url "https://github.com/eugeniofciuvasile/ssh-x-term/releases/download/TAG_PLACEHOLDER/ssh-x-term-darwin-amd64"
      sha256 "DARWIN_AMD64_SHA"
    end
  end

  on_linux do
    if Hardware::CPU.arm?
      url "https://github.com/eugeniofciuvasile/ssh-x-term/releases/download/TAG_PLACEHOLDER/ssh-x-term-linux-arm64"
      sha256 "LINUX_ARM64_SHA"
    else
      url "https://github.com/eugeniofciuvasile/ssh-x-term/releases/download/TAG_PLACEHOLDER/ssh-x-term-linux-amd64"
      sha256 "LINUX_AMD64_SHA"
    end
  end

  def install
    bin.install Dir["ssh-x-term-*"].first => "sxt"
  end

  test do
    system "#{bin}/sxt", "--version"
  end
end
